@import "./../colors.css";

.season-label {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin: 10px 0;
    z-index: 10;
}

.season-label .head {
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    display: flex;
    padding: 10px;
    font-size: 24px;
    color: var(--light-font-color);
    background-color: var(--table-head-color);
    border-bottom: solid 2px var(--primary-color);
}

.season-label .head .left {
    align-items: center;
    display: flex;
}

.season-label .head .right {
    margin-right: 10px;
    font-size: 28px;
}

.season-label .head .right .arrow {
}

.season-label .head .right .arrow:hover {
    color: var(--primary-color);
}

.season-label .head .rank-img {
    height: 50px;
}

.season-label .body {
    background-color: var(--light-objects-bg-color);
    color: var(--dark-font-color);
    transition: all .4s ease-out;
    height: auto;
    opacity: 1;
    z-index: 5;
}

.season-label .body.active {
    height: 0;
}

.season-label .body .region-stats {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.season-label .body .property {
    display: flex;
    justify-content: space-between;
}

.season-label .body .property .key {
    text-transform: uppercase;
}

.season-label .body .property .value {
}