:root {
    --main-bg-color: #EDEFF4;
    --sec-bg-color: #FFFBFE;
    --nav-color: #11151C;
    --primary-color: #FFC09F;
    --primary-light-color: #FFE2D3;
    --light-font-color: #FFFBFE;
    --border-color: #E4E7ED;
    --main-head-color: #30343B;

    --active-item: #FFF;

    --dark-font-color: #4D5061;
    --main-head2-color: #23395B;
}