:root {
    --main-bg-color: #EDEFF4;
    --light-objects-bg-color: #FFFBFE;
    --dark-objects-bg-color: #10131A;
    --dark-bg-color: #1e2024;
    --nav-color: #212529;
    --primary-color: #1A84EE;
    --primary-light-color: #BCD2EE;
    --light-font-color: #FFFBFE;
    --light-dark-font-color: #5D5F6F;
    --dark-font-color: #32333E;
    --light-border-color: #E4E7ED;
    --dark-border-color: #333E47;
    --table-head-color: #212529;
    --form-border-color: #ced4da;
    --form-bg-color: #e9ecef;

    --active-item: #C2C7CA;

    --main-head2-color: #23395B;
}