@import "colors.css";

html {
    font-size: 16px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    html {
        font-size: 18px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html {
        font-size: 20px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    html {
        font-size: 22px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html {
        font-size: 24px;
    }
}

body {
    background-color: var(--main-bg-color);
}

section {
    color: black;
    min-height: calc(100vh - 15px);
    padding-top: 15px;
}

section .player-name {
    font-size: 28px;
}

section#operators .title {
    padding: 5px 0;
    margin: 0 10px;
    font-size: 24px;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    border: solid 2px var(--light-border-color);
    background-color: var(--light-objects-bg-color);
    transition: all .1s ease-out;
}

section#operators .title:hover {
    background-color: var(--primary-color);
    color: var(--light-font-color);
}

section#operators .title.active {
    border: solid 2px var(--primary-color);
}

section#operators .nav-section-tabs {
    display: flex;
    justify-content: space-around;
}

#search-player {
    background-color: var(--dark-bg-color);
    color: var(--light-font-color);
}

#search-player .title {
    font-size: 2.8rem;
    margin-bottom: 10px;
}

#search-player form {
    display: flex;
    align-items: center;
}

.platform-element {
    cursor: pointer;
    transition: all .1s ease-out;
}

.platform-element:hover {
    background-color: var(--primary-light-color);
}

.platform-element.selected {
    background-color: var(--primary-color);
    color: var(--light-font-color);
}

nav {
    background-color: var(--nav-color);
    color: var(--light-font-color);
    padding: 10px;
}

nav a {
    font-size: 20px;
    color: var(--light-font-color);
    text-decoration: none;
    transition: color .1s ease-out;
}

nav a:hover {
    color: var(--primary-light-color);
    text-decoration: none;
    transition: color .1s ease-in;
}

.justify-center {
    justify-content: center;
}

.loading {
    padding: 20px;
}

.seasonsView {
    padding-top: 15px;
}

.row-element {
    position: relative;
    width: 100%;
}

.hidden {
    display: none;
}

.dark-background {
    background-color: var(--dark-bg-color);
    color: var(--light-font-color);
}

.btn-color {
    border-color: var(--form-border-color);
    background-color: var(--form-bg-color);
    color: var(--dark-font-color);
}

.form-control:focus, .btn:focus {
    box-shadow: none;
}