@import "colors.css";

body {
    background-color: var(--main-bg-color);
}

section {
    color: black;
    min-height: calc(100vh - 15px);
    padding-top: 15px;
}

section .player-name {
    font-size: 28px;
}

section#operators .title {
    padding: 5px 0;
    margin: 0 10px;
    font-size: 24px;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    border: solid 2px var(--light-border-color);
    background-color: var(--light-objects-bg-color);
    transition: all .1s ease-out;
}

section#operators .title:hover {
    background-color: var(--primary-color);
    color: var(--light-font-color);
}

section#operators .title.active {
    border: solid 2px var(--primary-color);
}

section#operators .nav-section-tabs {
    display: flex;
    justify-content: space-around;
}

header input {
    border-radius: 15px;
    padding: 5px 15px;
    width: 100%;
}

header form {
    display: flex;
    align-items: center;
}

nav {
    background-color: var(--nav-color);
    color: var(--light-font-color);
    padding: 10px;
}

nav a {
    font-size: 20px;
    color: var(--light-font-color);
    text-decoration: none;
    transition: color .1s ease-out;
}

nav a:hover {
    color: var(--primary-light-color);
    text-decoration: none;
    transition: color .1s ease-in;
}

.justify-center {
    justify-content: center;
}

.loading {
    padding: 20px;
}

.window {
    margin: 10px 0;
    border: solid 1px var(--light-border-color);
}

.window .title {
    background-color: var(--table-head-color);
    color: var(--light-font-color);
    text-align: left;
    font-size: 32px;
    padding: 10px 20px;
    border-bottom: solid 2px var(--primary-color);
}

.items {
    background-color: var(--light-font-color);
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.items .item {
    padding: 10px;
}

.items .item .prop-name {
    color: var(--dark-font-color);
    font-size: 14px;
    text-transform: uppercase;
}

.items .item .prop-value {
    font-size: 32px;
    line-height: 1;
}

.seasonsView {
    padding-top: 15px;
}

.row-element {
    position: relative;
    width: 100%;
}

.hidden {
    display: none;
}

.dark-background {
    background-color: var(--dark-bg-color);
    color: var(--light-font-color);
}